.title2{
    /* Selector property value */
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    font-size: x-large;
    border: 2px solid black;
    background-color: rgb(27, 78, 186);
}
*{
    margin: 0;
}

#head-1{
    background-color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head-2{
    background-color: rgb(4, 157, 162);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div > p{
    background-color: rgb(43, 174, 255);
    border: 3px solid black;
    font-family: 'Times New Roman', Times, serif;
}
#bt{
    size: 5px;
    background-color: rgb(15, 179, 244);
    font-family: monospace;
    color: azure;
    border-radius: 3px;
    border-color: navy;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
}
.box{
    border: 1px solid black;
}
.box-content{
    padding: 60px;
    background-color: aquamarine;
    border: 20px soldi black;
    margin: 50px;
}

label{
    background-color: azure;
    font-family: monospace;
}

fieldset{
    background-color: beige;
    bottom: 2px solid blue;
}

.p1{
    border: 2px solid black;
    background-color: white;
    font-family: monospace;
    font-size: larger;
}

.new{
    color: blueviolet !important;
}

#new1{
    color: brown;
}