.static{
    /* position: static; */
    /* background-color: aqua; */
    top: 50px;
    left: 50px;
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    background-color: dodgerblue;
}

.relative{
    background-color: aqua;
    position: relative;
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    top: 100px;
    left: 50px;
    right: 50px;
}

.absolute{
    background-color: coral;
    position: absolute;
    border: 2px solid black;
    padding: 10px;
    left: 500px;
}

.div1{
    border: 2px solid black;
    height: 1550px;
    width: 600px;
    position: relative;

}

.style{
    background-color: chocolate;
    padding: 10px;
    margin: 10px;
    position: sticky;
    margin: 0;
    top: 10px;
    border-radius: 10px;
    z-index: 100;
}

.button1{
    background-color: aqua;
    padding: 20px 20px;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 20px;
}