/* h2{
    background-color: black;
    color: beige;
} */

/* @media only screen and (min-width:50px) and (max-width:320){
    h2{
        background-color: aqua;
        color: black;
    }
} */

/* @media only screen and (min-width:426px)and(max-width:768px){
    h2{
        background-color: rgb(10, 1, 92);
        color: rgb(236, 24, 24);
    }
} */
button{
    color: white;
    background-color: black;
}

@media only screen and (min-width:320px) and (max-width:768px){
    button{
        background-color: rgb(38, 0, 255);
        color: rgb(255, 255, 255);
    }
}

@media only screen and  (max-width:320px){
    button{
        background-color: rgb(255, 255, 255);
        color: rgb(242, 12, 12);
        border:1px solid rgb(217, 24, 24);
    }
}