body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.knight-rider {
    position: relative;
    width: 400px;
    height: 20px;
    background-color: #2d0909;
    border-radius: 10px;
    overflow: hidden;
}

.light {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    animation: moveLight 1s infinite alternate;
}

@keyframes moveLight {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 50px);
    }
}