*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #A27172;
    padding-bottom: 10px;
    height: 70px;
}

.navItems{
    margin-left: 40px;
}

.logo{
    height: auto;
    width: 50;
   margin-top: 35px;
   color: white;
   
}
.navButton1{
    margin-left: 450px;
    margin-top: 20px;
    padding: 13px 30px;
    background-color: #A27172;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.navButton2{
    margin-left: 150px;
    margin-top: 20px;
    padding: 13px 30px;
    background-color: #A27172;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.navButton3{
    margin-left: 150px;
    margin-top: 20px;
    padding: 13px 30px;
    background-color: #A27172;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.navButton4{
    margin-left: 150px;
    margin-top: 20px;
    padding: 13px 30px;
    background-color: #A27172;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.body{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 10px;
    border: 2px solid #A27172;
    border-radius: 10px;
    padding: 0px 0px 80px 0px;
}

.p1{
    font-size: 30px;
    color: #A27172;
    font-family: monospace;
    margin-top: 40px;
    margin-left: 30px;
}

.p2{
    font-family: monospace;
    font-size: 20px ;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 350px;
}

.img2{
    margin-top: 70px;
    margin-left:500px;
}

.form{
    margin-top: 40px;
    margin-left:450px;
}
input{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 280px 15px 20px;
    font-family: monospace;
    font-size: 25px;
    margin-bottom: 30px;
}

.form_button{
    margin-left: 0px;
    margin-top: 10px;
    padding: 13px 30px;
    background-color: #D9D9D9;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

footer{
    background-color: #7D8077;
    padding: 10px;
}

.footerItem{
    display: inline block;
    background-color: #A27172;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    color: white;
}
.footerItem2 {
    margin-left: 130px;
}
  
.footerItem3 {
    margin-left: 130px;
}