
.body{
    background-image: url(5153829.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h2{
    text-align: center;
}
.form{
    margin-top: 40px;
    margin-left:450px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-right: 550px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
input{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: center;
}

.input-style:focus{
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input1{ 
    margin-top: 30px;
}

button{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
    --color: #000000;
   font-family: inherit;
   display: inline-block;
   width: 6em;
   height: 2.6em;
   line-height: 2.5em;
   overflow: hidden;
   cursor: pointer;
   font-size: 17px;
   z-index: 1;
   color: var(--color);
   border: 2px solid var(--color);
   border-radius: 6px;
   position: relative;
}

button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}
  
button:hover {
    color: white;
}
  
button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
  
button:hover::before {
    top: -30px;
    left: -30px;
  }
  