*{
    margin: 0;
    padding: 0;
}

.div1{ 
    height: 500px;
    width: 800px;
    border: 2px solid black;
    position: absolute;
    left: 50px;
    top: 50px;
}

.div2{
    position: absolute;
    left: 50px;
    top: 50px;
}

h1{
    font-family: monospace;
    color: black;
    margin-left: 30px;
}

h3{
    font-family: monospace;
    color: rgba(120, 119, 119, 0.692);
    margin-top: 50px;
    font-size: 20px;
}

.div3{
    margin-top: 20px;
    font-family: monospace;
    width: 300px;
}

img{
    height: 40px;
}

.fa-circle{
    color: orange;
    position: absolute;
    left: 6px;
    top: 145px;
}

.h2New{
    position: absolute;
    left: 70px;
    top: 120px;
}
p{
    color: rgb(0, 168, 28);
    position: absolute;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.356);
    font-weight: bold;
    left:70px;
    top: 145px;
}
.div4{
    margin-top: 20px;
    font-family: monospace;
    width: 300px;
}
.fa-circle{
    color: orange;
    position: absolute;
    left: 6px;
    top: 145px;
}

.h2New{
    position: absolute;
    left: 70px;
    top: 120px;
}
p{
    color: rgb(0, 168, 28);
    position: absolute;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.356);
    font-weight: bold;
    left:70px;
    top: 145px;
}