*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.card{
    background-color: rgb(255, 255, 255);
}

.card-in{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 0 30px 30px 0;
    position: absolute;
    width: 550px;
    text-align: center;
}

.img-1{
    height: 70px;
    margin-top:50px;
}
.img-2{
    display: none;
}
h2{
    color: #FF451C;
    font-size: 20px;
    margin-top: 10px;
}

input{
    border: none;
    width: 350px;
    height: 20px ;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 1em;
    margin: 10px;
}

.input-1{
    margin-top: 70px;
}

.input-checkbox{
    position: relative;
    left: -120px;
}

.checkbox-label{
    position: relative;
    left: -290px;
    top: -4px;
}

.button-FGP{
    position: absolute;
    left: 360px;
    top: 360px;
    background-color: white;
    border: none;
}

.button-sign{
    width: 370px;
    height: 45px;
    margin: 10px;
}

.sign{
    margin-top: 50px;
    background-color: #FF451C;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
}

.google{
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    color: #606060;
    border: 1px solid #606060;
    margin-top: 30px;
}

.G-img{
    height: 18px;
    margin-right: 15px;
}

hr{
    width: 360px;
    margin-left: 95px;
}
p{
    position: absolute;
    background-color: white;
    top: 500px;
    left: 270px;
    padding: 5px;
}

@media only screen and (min-width:425px) and (max-width:768px) {
    .card-in{
        background-color: rgb(255, 255, 255);
        height: 100%;
        border-radius: 0 30px 30px 0;
        position: absolute;
        width: 300px;
        text-align: center;
    }
    .img-1{
        height: 40px;
        margin-top:50px;
    }
    
    h2{
        color: #FF451C;
        font-size: 15px;
        margin-top: 10px;
    }
    
    input{
        border: none;
        width: 200px;
        height: 20px ;
        background-color: #F1F1F1;
        border-radius: 10px;
        padding: 1em;
        margin: 10px;
    }
    
    .input-1{
        margin-top: 60px;
    }
    
    .input-checkbox{
        position: relative;
        left: -65px; 
        top: -8px;
    }

    input[type=checkbox]{
        height: 12px;
    }
    
    .checkbox-label{
        position: relative;
        left: -167px;
        top: -9px;
        font-size: 12px;
    }
    
    .button-FGP{
        position: absolute;
        left: 180px;
        top: 307px;
        background-color: white;
        border: none;
        font-size: 10px;
    }
    
    .button-sign{
        width: 220px;
        height: 45px;
        margin: 10px;
    }
    
    .sign{
        margin-top: 50px;
        background-color: #FF451C;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .google{
        border-radius: 10px;
        font-size: 15px;
        background-color: white;
        color: #606060;
        border: 1px solid #606060;
        margin-top: 30px;
    }
    
    hr{
        width: 250px;
        margin-left: 25px;
    }
    p{
        position: absolute;
        background-color: white;
        top: 445px;
        left: 140px;
        padding: 5px;
    }
}

@media only screen and (min-width:10px) and (max-width:426px) {
    .card-in{
        background-color: transparent;
        height: 100vh;
        position: absolute;
        width: 100%;
        text-align: center;
    }
    .img-1{
        height: 70px;
        margin-top:50px;
        display: none;
    }
    .img-2{
        display: block;
        height: 50px;
        margin-top:50px;
        margin-left: 190px;
    }
    h2{
        color: #ffffff;
        font-size: 15px;
        margin-top: 10px;
    }
    
    input{
        border: none;
        width: 250px;
        height: 15px ;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;
        padding: 1em;
        margin: 10px;
    }
    .input-1{
        margin-top: 50px;
    }
    
    .input-checkbox{
        position: relative;
        left: -120px;
    }
    
    .checkbox-label{
        position: relative;
        left: -290px;
        top: -4px;
    }
    
    .button-FGP{
        position: absolute;
        left: 360px;
        top: 360px;
        background-color: transparent;
        border: none;
    }
    
    .button-sign{
        width: 370px;
        height: 45px;
        margin: 10px;
    }
    
    .sign{
        margin-top: 50px;
        background-color: #FF451C;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .google{
        border-radius: 10px;
        font-size: 15px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #606060;
        margin-top: 30px;
    }
    
    .G-img{
        height: 18px;
        margin-right: 15px;
    }
    
    hr{
        width: 360px;
        margin-left: 95px;
    }
    p{
        position: absolute;
        background-color: white;
        top: 500px;
        left: 270px;
        padding: 5px;
    }
}

