*{
    margin: 0;
    padding: 0;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
}

.card{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(255, 255, 255);
}

.back{
    grid-column-start: 3;
    grid-column-end: 7;
    background-image: url(1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 695px;
}

.card-in{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 0 30px 30px 0;
    position: absolute;
    width: 550px;
    text-align: center;
}

.img-1{
    height: 70px;
    margin-top:50px;
}

h2{
    color: #FF451C;
    font-size: 20px;
    margin-top: 10px;
}

input{
    border: none;
    width: 350px;
    height: 20px ;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 1em;
    margin: 10px;
}

.input-1{
    margin-top: 70px;
}

.input-checkbox{
    position: relative;
    left: -120px;
}

.checkbox-label{
    position: relative;
    left: -290px;
    top: -4px;
}

.button-FGP{
    position: absolute;
    left: 360px;
    top: 360px;
    background-color: white;
    border: none;
}

.button-sign{
    width: 370px;
    height: 40px;
    margin: 10px;
}