*{
    padding: 0px;
    margin: 0px;
}

.body{
    background-image: url(img3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

.container {
    position: relative;
}

.bar{
  z-index: 100;
  background-color: #bd9292;
  height: 60px;
  position: sticky;
  top: 10px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.youtubeSign{
    position: sticky;
    margin-top: 30px;
    margin-left: 50px;
}

.fa-youtube{
    color: rgb(255, 255, 255);
}

.fa-youtube:hover {
    cursor: pointer;
    scale: 1.1;
    color: #ff0000;
    border-radius: 8px;
  }

.div1{
    position: relative;
    height: 1647px;
    width: 315px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    opacity: 0.1;
}

.div2{
    position: absolute;
    top: 120px;
    left: 40px;
}

.button1{
    background-color: #BD9292;
    position: absolute;
    margin: 10px;
    padding: 20px 80px;
    border-radius: 10px;
    border-color: none;
    left: 10px;
    color: white;
    font-size: 20px;
}

.button2{
    background-color: #BD9292;
    position: absolute;
    top: 100px;
    left: 10px;
    margin: 10px;
    padding: 20px 80px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.button3{
    background-color: #BD9292;
    position: absolute;
    top: 200px;
    left: 10px;
    margin: 10px;
    padding: 20px 80px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.button4{
    background-color: #BD9292;
    position: absolute;
    left: 10px;
    top: 300px;
    color: white;
    margin: 10px;
    padding: 20px 70px;
    border-radius: 10px;
    font-size: 20px;
}

button:hover{
    color: black;
    font-size: larger;
    font-weight: bold;
    background-color: #bf8181;
    scale: 1.01;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10;
    border: 2px solid white;
}

.div3{
    border: 2px solid white;
    height: 1349px;
    width: 1164px;
    position: absolute;
    left: 340px;
    top: 90px;
    border-radius: 10px;
}

.line1{
    color: white;
    margin-top: 50px;
    margin-left: 40px;
}
p{
    color: white;
    margin-top: 70px;
    margin-left: 40px;
    font-size: 20px;
}
.line2{
    color: white;
    margin-top: 100px;
    margin-left: 40px;
}
.div4{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #7758CF;
    padding: 90px 60px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
}
.div4:hover{
    font-size: larger;
    scale: 1.05;
    z-index: 10;
    background-color: #532fb5;
}

.div5{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #E09191;
    padding: 90px 60px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 700px;
    left: 100px;
}

.div5:hover{
    font-size: larger;
    scale: 1.05;
    z-index: 10;
    background-color: #d86969;
}

.div6{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #D7AB53;
    padding: 90px 60px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 850px;
    left: 225px;
    
}

.div6:hover{
    font-size: larger;
    scale: 1.05;
    z-index: 10;
    background-color: #d49d2f;
}

.div7{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #63BE92;
    padding: 90px 60px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top:700px ;
    left: 350px;
}

.div7:hover{
    font-size: larger;
    scale: 1.05;
    z-index: 10;
    background-color: #199d5d;
}

.div8{
    color: white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: #997ADB;
    padding: 90px 60px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    left: 450px;
}
.div8:hover{
    font-size: larger;
    scale: 1.05;
    z-index: 10;
    background-color: #8963da;
}

footer{
    position: absolute;
    background-color: #BD9292;
    color: white;
    left: 340px;
    top: 1435px;
    width: 1167px;
    height: 305px;
}

.footer{
    position: absolute;
    left: 550px;
    top: 130px;
}

