.div-1{
    background: linear-gradient(to right, #0949a2, #095bcc);
    height: auto;
    padding-bottom: 10px;
}

.flex-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.item{
  margin: 10px;
}

.div-2{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p{
  color: white;
  font-size: xx-large;
  font-family: monospace;
}

.button{
  background-color: white;
  border: 0px;
  color: black;
  height: 60px;
  width: 250px;
  font-size: large;
  border-radius: 50px;
  font-family: monospace;
}
.button:hover{
  scale: 0.95;
  font-size: large;
  font-weight: bold;
}










.div-3{
  background-color: white;
  margin-top: 150px;
  height: 200px;
}

.item-2{
  height: 50px;
  width: 150px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 5px 0 rgb(135, 135, 135);

}

.div-4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

i{
  color:#095bcc;
  padding: 15px;
  margin-bottom: 5px;
}

.item-2:hover{
  i{
    color: white;
  }

  scale: 1.1;
  color: white;
  background: linear-gradient(to right, #0949a2, #095bcc);

}

  