*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto  ;
}

.item-1{
    grid-column-start: 1;
    grid-column-end: 7;
    height: 80px;
    background-color: #DB8C33;
}

.div-1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-1{
    position: absolute;
    height:50px;
    top: 15px;
    left: 30px;
}

button{
    background-color: #DB8C33;
    border: 0;
    font-size: 20px;
    color: white;
    top: 25px;
    position: relative;
}

.item-2{
    grid-column-start: 1;
    grid-column-end: 7;
    height: 2080px;
    background-color: #ffffff;
}

.div-2{
    background-color: #E9E6E6;
    width: 1006px;
    height: 470px;
    position: relative;
    left: 300px;
    top: 80px;
}

.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.gridItem{
    background-color: blue;
    margin: 5px;
    text-align: left;
    justify-content: center;
}